<!DOCTYPE html>
<html>
<head>
	<title>Veggies&Fruits</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<header>
	<!-- NAV.html -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="index.html">Veggies&Fruits</a>
	  <button class="navbar-toggler" data-toggle="collapse" data-target="#menuBar">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="menuBar">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="index.html">home</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
	          mart-test
	        </a>
	        <div class="dropdown-menu p-2">
	       		<h5>Categories</h5>
	       		<hr>
	       		<h6><a href="fruits.html">Fruits</a></h6>
	       		<div class="row">
	       			<div class="col-md-6">
	       				<a class="dropdown-item">Apple</a>
	       				<a class="dropdown-item">Banana</a>
	       				<a class="dropdown-item">Mango</a>
	       			</div>
	       			<div class="col-md-6">
	       				<a class="dropdown-item">Guava</a>
	       				<a class="dropdown-item">Papaya</a>
	       				<a class="dropdown-item">Orange</a>
	       			</div>
	       		</div><br>
	       		<h6><a href="veggies.html">Veggies</a></h6>
	       		<div class="row">
	       			<div class="col-md-6">
	       				<a class="dropdown-item">Bitter Gourd</a>
	       				<a class="dropdown-item">Spinach</a>
	       				<a class="dropdown-item">Spagetti</a>
	       			</div>
	       			<div class="col-md-6">
	       				<a class="dropdown-item">Carrot</a>
	       				<a class="dropdown-item">Potato</a>
	       				<a class="dropdown-item">Brinjal</a>
	       			</div>
	       		</div>
	        </div>
	      <li class="nav-item">
	        <a class="nav-link" href="about.html">about</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="contact.html">contact</a>
	      </li>
	    </ul>
	    <form class="form-inline">
	       <input class="form-control mr-sm-2" type="search" placeholder="Search">
	       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">search</button>
	    </form>
	  </div><!-- ./#menuBar -->
	</nav>
</header>

<div class="container">
	
	<main>
		<div class="row">
			<h1>What do you wanna shop?</h1>

			<div class="input-group mb-3">
		  <input type="text" class="form-control" placeholder="">
		  <div class="input-group-append">
		    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
		  </div>	
		</div>

		<ul class="list-group">
		  <li class="list-group-item">Cras justo odio</li>
		  <li class="list-group-item">Dapibus ac facilisis in</li>
		  <li class="list-group-item">Morbi leo risus</li>
		  <li class="list-group-item">Porta ac consectetur ac</li>
		  <li class="list-group-item">Vestibulum at eros</li>
		</ul>
		
		<h1>Featured Items</h1>
	  <div class="card-deck">
	  	<div class="row">
	  		<div class="card" style="width: 18rem;">
	  		  <img src="..." class="card-img-top" alt="...">
	  		  <div class="card-body">
	  		    <h5 class="card-title">Card title</h5>
	  		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  		    <a href="#" class="btn btn-primary">Go somewhere</a>
	  		  </div>
	  		</div>
	  		<div class="card" style="width: 18rem;">
	  		  <img src="..." class="card-img-top" alt="...">
	  		  <div class="card-body">
	  		    <h5 class="card-title">Card title</h5>
	  		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  		    <a href="#" class="btn btn-primary">Go somewhere</a>
	  		  </div>
	  		</div>
	  		<div class="card" style="width: 18rem;">
	  		  <img src="..." class="card-img-top" alt="...">
	  		  <div class="card-body">
	  		    <h5 class="card-title">Card title</h5>
	  		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  		    <a href="#" class="btn btn-primary">Go somewhere</a>
	  		  </div>
	  		</div>
	  		<div class="card" style="width: 18rem;">
	  		  <img src="..." class="card-img-top" alt="...">
	  		  <div class="card-body">
	  		    <h5 class="card-title">Card title</h5>
	  		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  		    <a href="#" class="btn btn-primary">Go somewhere</a>
	  		  </div>
	  		</div>
	  	</div>

	  	<div class="row">
	  		<div class="card" style="width: 18rem;">
	  		  <img src="..." class="card-img-top" alt="...">
	  		  <div class="card-body">
	  		    <h5 class="card-title">Card title</h5>
	  		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  		    <a href="#" class="btn btn-primary">Go somewhere</a>
	  		  </div>
	  		</div>
	  		<div class="card" style="width: 18rem;">
	  		  <img src="..." class="card-img-top" alt="...">
	  		  <div class="card-body">
	  		    <h5 class="card-title">Card title</h5>
	  		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  		    <a href="#" class="btn btn-primary">Go somewhere</a>
	  		  </div>
	  		</div>
	  	</div>
	  </div>
	</main>

</div>




</div>

<footer class="p-2 bg-light">
	<p class="text-center">&copy; Copyright 2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="script.js"></script>
</body>
</html>